<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communityserver.mapper.PostMapper">

    <insert id="addPost" useGeneratedKeys="true" keyProperty="postNumber">
        INSERT INTO posts (post_number, category_number, user_number, post_name, admin_post, content, create_time, suggestion_count, view)
        VALUES (#{postNumber}, #{categoryNumber}, #{userNumber}, #{postName}, #{adminPost}, #{content}, #{createTime}, #{suggestionCount}, #{view})
    </insert>

    <select id="checkHasPermission" resultType = "int">
        SELECT COUNT(post_number)
        FROM posts p
        WHERE p.user_number = #{userNumber}
        and post_number = #{postNumber}
    </select>

    <update id="updatePost">
        UPDATE posts
        SET post_name = #{postName},
        content = #{content}
        WHERE post_number = #{postNumber}
    </update>

    <update id = "addView" >
        UPDATE posts
        SET view = view + 1
        WHERE post_number = #{postNumber}

    </update>

    <select id="selectPost" resultType = "com.communityserver.dto.PostDTO">
        SELECT post_number, category_number, user_number, post_name, admin_post, content, create_time, suggestion_count, view
        FROM posts
        WHERE post_number = #{postNumber}
    </select>

    <select id="selectRankPost" resultType="com.communityserver.dto.RankPostDTO">
        SELECT post_number, view, suggestion_count, create_time
        FROM rank_posts
    </select>

    <delete id="deleteAllRankPost">
        DELETE FROM rank_posts
    </delete>

    <insert id="updateRank">
        INSERT INTO rank_posts (post_number, view, suggestion_count, create_time)
        SELECT post_number, view, suggestion_count, create_time
        FROM posts
        ORDER BY suggestion_count DESC, view DESC, create_time desc
        LIMIT 10
    </insert>

    <insert id = "addComment">
        INSERT comments
        VALUES (#{commentNumber}, #{postNumber}, #{content}, #{userId}, now())
    </insert>

    <select id="selectComment" resultType="com.communityserver.dto.CommentDTO">
        SELECT comment_number, post_number, content, user_id, create_time
        FROM comments
        WHERE comment_number = #{commentNumber}
    </select>

    <delete id = "deletePost">
        DELETE FROM posts
        WHERE post_number = #{postNumber}
        and user_number = #{userNumber}
    </delete>

    <delete id = "deleteComment">
        DELETE FROM comments
        WHERE post_number = #{postNumber}
    </delete>
</mapper>
