<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communityserver.mapper.UserInfoMapper">

    <insert id="register" useGeneratedKeys="true" keyProperty="userNumber">
        INSERT INTO users (user_number, user_id, password, nickname, admin, create_time, user_secession)
        VALUES (#{userNumber}, #{userId}, #{password}, #{nickname}, #{admin}, now(), #{userSecession})
    </insert>

    <select id="idCheck" resultType="int">
        SELECT COUNT(user_id)
        FROM users
        WHERE user_id = #{userId} and user_secession = 0
    </select>

    <select id="passwordCheck" resultType="com.communityserver.dto.UserDTO">
        SELECT user_number, user_id, admin
        FROM users
        WHERE user_id = #{userId} and password = #{password} and user_secession = 0
    </select>

    <select id = "selectUser" resultType = "com.communityserver.dto.UserDTO">
        SELECT user_number, user_id, nickname, admin, create_time, user_secession
        FROM users
        WHERE user_number = #{userNumber} and user_secession = 0
    </select>

    <update id="deleteUser">
        UPDATE users
        SET user_secession = 1
        WHERE user_number = #{userNumber} and user_secession = 0
    </update>

    <select id="adminUserCheck" resultType = "int">
        SELECT count(user_number)
        FROM users
        WHERE user_number = #{userNumber}
        and admin = 1
    </select>

</mapper>